*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.grid{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: forestgreen;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid;
    box-shadow: 10px 15px 5px;
}

#button0, #button1, #button2, #button3 {
    background-color: red;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid;
    border-radius: 50px;
    margin: 10px 40px 10px;
}



body {
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100 vw;
    height: 100 vh;
    background-color: purple;
}

#button0:hover, #button1:hover, #button2:hover, #button3:hover{
    background-color: blue;
    cursor: pointer;
    
}

#answer {
    color: white;
}

hr {
    width: 500px;
    color: white; 
    
}


#next {

    border-radius: 5px;
    background-color: blue;
    padding: 5px 10px;
    color: white;
    border: 1px solid;
}

#question {
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

#startScreen {
    text-align: center;
    justify-content: center;
}

#startScreen h1 {
    text-align: center;
    justify-content: center;
    }
    p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }